<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

<title>Users</title>

<!-- SPELLS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
<script src="core.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/entry.css" />

<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body>
<div class="betaWrap">
<div class="betaInner">beta</div>
</div>
<div class="container">


    <!-- HEADER AND TODO COUNT -->
    <div class="total">


        <!-- FORM TO CREATE TODOS -->

        <form>
            <div class="actionOuter">
                <div class="actionContain">
                    <div class="pageTitle">
                        Disco<span style="color:rgb(148, 148, 148);">Cloud</span>
                    </div>
                    <div class="inputContain" id="search">
                        <input type="text" ng-placeholder="Search" style="border-bottom: 1px solid #dadada" class="textEnter" ng-model="query" placeholder="Search">
                        <div class="resultsWrap">
                            <table style="color:black; width:100%; border-collapse: collapse;">
                                <tr ng-repeat="result in results |  array | filter: search" ng-click="enterRoom(result.name)" class="resultRow" >
                                    <td class="roomName">
                                        {{result.name}}
                                    </td>
                                    <td class="roomName" style="float:right;">
                                        {{result.users.length}}
                                    </td>
                                </tr>
                                <tr class="resultRow" ng-click="createRoom(query)">
                                    <td class="newRow" colspan="2">
                                        Create New Room
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="usercount">
                        Current Users {{userCount}}
                    </div>
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
            </div>
        </form>
    </div>
</div>
