<link type="text/css" rel="stylesheet" href="../styles/room.css"/>
<div class="total">
    <div class="title outer" ng-click="start()">
        <img class="animPlugin" ng-src="../img/DiscoVinylGrey.png"/>
        <div class="Logo" style="position: absolute; height:80px; display: table;">
            <img id="LogoInner" ng-src="../img/DiscoCloudLogoLarge.png"/>
            

        </div>
        <div class="songInfo inner">
            <div class="songTitle">
                {{songInfo.title}}
            </div>
            <div class="songArtist">
                <div class="progress" style="width: {{(sound.progress * 100) + '%'}}">

                </div>
            </div>
        </div>
    </div>
    <div class="bottomright">
        <div class="popup" ng-show="message">
            {{message}}
        </div>
    </div>
    <div class="roomWrap">

        <div class="userWrap">
            <table>
                <tr class="userRow" ng-repeat="user in currentRoom.users">
                    <td class="userElt">
                        {{user.name}}
                    </td>
                    <td class="userStatus">
                        {{user.songTitle}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchHolder">
            <div class="queryContain">
                <input type="text" placeholder="Search Songs" class="searchQuery" ng-model="searchQuery" ng-change="search()"/>
            </div>
            <div class="table" resize="160">
                <table class="songs">
                    <tr ng-repeat="song in searchResults" ng-click="load(song)" class="songRow">
                        <td class="songCell" ng-click="lockIn(song)">
                            <img class="songIMG" ng-src="{{song['artwork_url']}}" />
                            <div class="songDesc">
                                <div class="inner">
                                    {{song.title}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="chatWrap">
            <div class="toggler" ng-click="toggleChat()"></div>
            <div class="messageWrap">
                <table class="messageTable">
                    <tr ng-repeat="message in messages" class="message">
                        <td class="messageIn">
                            {{message.text}}
                        </td>
                    </tr>
                </table>
                <div class="messageText">
                <form ng-submit="send()" style="height:100%;">
                    <input type="text" placeholder="chat" class="messageBox" ng-model="chatmessage" />
                </form>
                </div>
            </div>
        </div>
    </div>
</div>



