.container {
    height:100vh;
    width:100%;
    background:white}

.pageTitle {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 300;
    height:auto;
    color:orange;
    background-size: contain;
}

.betaWrap {
    position: absolute;
    right:0;
    top:0;
    height:50px;
    width:100px;
    background:green;
}

.betaInner {
    display:inline;
    margin:0 auto;
}

.inputContain {
    width: 550px;
    height:auto;
    border: 1px solid #C5C5C5;
    padding:4px 7px;
    border-radius: 5px;
    margin-bottom:10px;
}

::-webkit-input-placeholder {
    text-align: center;
    color:black;
}

.inputContain:focus {
    border-color:#e1e1e1;
    background:white;
    color: #808080;
}

.resultsWrap {
    height:350px;
    overflow-y: scroll;
}

.resultRow {
    cursor:pointer;
    width:100%;
    text-align: left;
}

.resultRow:hover {
    background: #f4f4f4;
}

.newRow {
    width: 100%;
    text-align: center;
    padding: 5px;
    background: rgb(49, 201, 49);
    border-radius: 4px;
    color: white;
}

.roomName {
    padding:5px;
}

.usercount {
    position:absolute;
    bottom:0;
    right:0;
    height:100px;
    width:100px;
}

form {
    display: table-cell;
    vertical-align: middle;
}

.textEnter {
    width:100%;
    height:40px;
    background:transparent;
    color: #C5C5C5;
    font-size:20px;
}

.total {
    height:100vh;
    width:100%;
    background: transparent;
    display: table;
}

.button {
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
    width:auto;
    margin:0 20%;
    padding: 14px;
    font-size: 23px;
    border-radius: 5px;
    margin-top:10px;
    -webkit-animation: fadeout .3s;
}

.button:hover {
    -webkit-animation: fade .3s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {}
    to {background: rgba(225, 225, 225, 0.27);
    color: #2b2b2b;}
}

@-webkit-keyframes fadeout {
    from {background: rgba(225, 225, 225, 0.27);
        color:#2b2b2b;}
    to {background: none;
        color:white;}
}

.actionOuter {
    display:table;
    margin:0 auto;
}

.half {
    float:right;
    width:50%;
}

.actionContain {
    display:inline;
    vertical-align: middle;
}

input {
    border:none;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
