body {
    width:100%;
    padding:0;
    margin:0;
    font-family: 'Open Sans';
}

input {
    border:none;
    font-family: 'Open Sans';
    font-size:18px;
}

input:focus {
    border:none;
    outline:none;
}

table {
    border-spacing: 0;
}

.button {
    height: 50px; width:100px; background:green;
    border-radius: 10px; margin-top:30px; cursor:pointer;
    color:white;
}

.inner {
    display:table-cell;
    vertical-align: middle;
}

.innerTitle {
    display: table-cell;
    vertical-align: middle;
    padding-left:30px;
    width:100px;
}

.outer {
    display:table;
}

.bottomright {
    width:auto;
    height:70px;
    border-left:4px solid #ff5619;
    left:340px;
    bottom:0px;
    opacity: 0;
    position: fixed;
    background: #efefef;
    z-index: 1000000;
}

.popup {
    padding:20px;
}

.title {
    background: #FF5B05;
    background-size:contain;
}

.title:hover {
    cursor:pointer;
}

.searchHolder {
    position:absolute;
    left:0px;
    top:80px;
    /*border-left: 2px solid #e1e1e1;*/
    background: #EDEDED;
    width:300px;
    padding:10px;
}

.searchQuery {
    width:100%;
    height:100%;
}

.queryContain {
    padding: 10px;
    width:100%;
    height:60px;
    box-sizing: border-box;
    /*border:2px solid #e1e1e1;*/
    -webkit-box-shadow: 0 10px 8px -8px #b9b9b9;
    background:white;
}

/* User Stuff */

.userWrap {
    position: absolute;
    left:320px;

}

.userElt {
    padding: 30px;
}

.userStatus {
    padding: 30px;
}

.table {
    background:#EDEDED;
    overflow-y: scroll;
    font-size:14px;

}
.songRow {
    margin-top: 5px;
    cursor:pointer;
    background: #EDEDED;
}

.songRow:hover {
    background: #f4f4f4;
}

.songCell {
    width:100%;
}

.songDesc {
    width:50%;
    height: 60px;
    float:left;
    position: relative;
    padding-left:10px;
    display:table;
}

.songCover {
    position:absolute;
    width:100%;
    height:100%;
    color:white;
    background:#e1e1e1;
    opacity:0;

}

.songCover:hover {
    opacity:1;
}

.begin {
    height:30px;
    width:100px;
    border:2px solid red;
}

.total {
    height:100vh;
    width:100%;
}

.songIMG {
    height:50px;
    width:50px;
    padding:5px 0;
    position: relative;
    float:left;
}

.roomTitle {
    text-align: center;
    font-size: 50px;
    padding:10px;
}

.animPlugin {
    background:transparent;
    height:60px;
    width:60px;
    position:absolute;
    right:80px;
    top:10px;
    z-index: 1000;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.spin {
    -webkit-animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.userRow {
    height:70px;
    font-size:30px;
    padding:0 30px;
    width:100%;
}

.roomWrap {
    padding-right:322px;
}

.songInfo {
    margin:0 auto;
    height:auto;
    color:white;
}

.songTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
}

.songArtist {
    width:300px;
    margin:0 auto;
    height:4px;
    background:#EDEDED;
}

.progress {
    height:100%;
    background:#CCCCCC;
}

.chatWrap {
    position: absolute;
    width:300px;
    padding:10px;
    height:100%;
    right:0;
    background:#ededed;
    top:80px;
}

.messageWrap {
    height:100%;
    position: relative;
}

.messageTable {
    position: absolute;
    width:100%;
    background: #ededed;
    bottom:60px;
    margin-bottom: 10px;
}

.message {
    width:100%;
}

.messageIn {
    display: inline-block;
    padding:10px;
    background:#FBFBFB;
    border-bottom: 2px solid #D2D2D2;
    margin-top: 5px;
}

.messageText {
    position: absolute;
    bottom:10px;
    height:50px;
    width:300px;
}

.messageBox {
    width:100%;
    height:100%;
}

.Logo {
    height:100%;
    width:180px;
    margin-left:30px;
    background:#3A3A3C;
}

.LogoInner {
    width: 160px;
    height: 50px;
    margin: 15px auto 0 auto;
}


/* angular ANIMATION */
